{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

{{template "head" .}}

<body>
    {{template "main" .}}

    <script src="/static/js/global.js"></script>

    <script src="/static/js/ical.min.js"></script>
    <script src="/static/js/fullcalendar-core.min.js"></script>
    <script src="/static/js/fullcalendar-daygrid.min.js"></script>
    <script src="/static/js/fullcalendar-timegrid.min.js"></script>
    <script src="/static/js/fullcalendar-list.min.js"></script>
    <script src="/static/js/fullcalendar-interaction.min.js"></script>
    <script src="/static/js/fullcalendar-icalendar.min.js"></script>
</body>

</html>
{{end}}
