{{define "footer"}}
<footer style="display: flex; flex-wrap: wrap; gap: 10px; justify-content: center; align-items: center; flex: 0;">
    <p>Copyright © {{.Year}}. Made with ❤️ by <a href="https://github.com/wajeht" target="_blank"
            rel="noopener noreferrer">@wajeht</a></p>
    <div style="display: flex; gap: 10px; justify-content: center; align-items: center;">
        <span aria-hidden="true">|</span>
        <nav aria-label="Footer navigation">
            <ul style="display: flex; gap: 10px; padding: 0; margin: 0; list-style: none; align-items: center;">
                <li><a href="https://github.com/wajeht/calendar" target="_blank" rel="noopener noreferrer">📂 Github</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>

<script src="/static/js/global.js"></script>
{{end}}
