:root {
    --text-color: #333333;
    --background-color: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

body {
    padding: 1em 1rem;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: system-ui, -apple-system, sans-serif;
    line-height: 1.5;
}
