name: CI

on:
    push:
        branches: [main]
    pull_request:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    test:
        name: Run Tests
        runs-on: ubuntu-latest
        env:
            CI: true
        steps:
            - name: Check out repository
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "25"
                  cache: "npm"

            - name: Install dependencies
              run: npm ci

            - name: Fix Rollup native dependencies
              run: npm rebuild

            - name: Lint
              run: npm run lint:check

            - name: Format
              run: npm run format:check

            - name: Run tests
              run: npm test

    build:
        name: Build Docker Image
        runs-on: ubuntu-latest
        outputs:
            tag: ${{ steps.image-name.outputs.TAG }}
        steps:
            - name: Check out repository
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GH_TOKEN }}

            - name: Generate Image Name
              id: image-name
              run: |
                  TAG=$(echo ${{ github.sha }} | cut -c1-7)
                  IMAGE_URL=$(echo ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}:$TAG | tr '[:upper:]' '[:lower:]')
                  echo "IMAGE_URL=$IMAGE_URL" >> $GITHUB_OUTPUT
                  echo "TAG=$TAG" >> $GITHUB_OUTPUT

            - name: Build and push Docker Image
              uses: docker/build-push-action@v4
              with:
                  context: .
                  file: ./Dockerfile.prod
                  push: true
                  tags: ${{ steps.image-name.outputs.IMAGE_URL }}
                  cache-from: type=gha
                  cache-to: type=gha,mode=max

    deploy:
        needs: ["test", "build"]
        name: Deploy
        uses: wajeht/docker-cd-deploy-workflow/.github/workflows/deploy.yaml@main
        with:
            app-path: apps/calendar
            tag: ${{ needs.build.outputs.tag }}
        secrets:
            GH_TOKEN: ${{ secrets.GH_TOKEN }}
